@import "./variables";

html {
  /* -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 112.5%/1.45em; */
  font-family: $main-font;
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: $main-font;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  //position: relative;
}

p {
  font-size: 1.05rem;
  line-height: 1.9rem;
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 90%;
  }
}

.container {
  margin: 0 auto;
  padding: 0 1rem !important;

  @include mq(xlarge) {
    max-width: 1140px;
  }

  @include mq($from: large, $until: xlarge) {
    max-width: 920px;
  }

  @include mq($from: medium, $until: large) {
    max-width: 550px;
  }

  @include mq($from: small, $until: medium) {
    max-width: 400px
  }

  @include mq($until: small) {
    max-width: 100%
  }

}

.MuiGrid-container {
  @include mq($until: large) {
    overflow: hidden !important;
  }
}

[data-aos-delay] {
  transition-delay: 0 !important;

}