$main-font: 'Overpass',
sans-serif;
$primary-gradient: linear-gradient(20deg, rgba(0, 171, 200, 1) 31%, rgba(0, 95, 114, 1) 100%);
$color-blue-hover: rgba(0, 95, 114, 1);
$color-blue: #00ABC8;

$color-gray-light: #F5F8FD;
$color-black: #191919;
$color-white: #ffffff;
$mq-breakpoints: (small: 500px,
  medium: 660px,
  large: 960px,
  xlarge: 1240px);