@import "../../sass/essentials";

.btn {
  padding: 1.2rem 3rem;
  font-weight: 600;
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, .35);
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: all 0.4s ease;
  cursor: pointer;
  margin: 2rem 0;
  font-family: inherit;
  text-transform: capitalize;

  @include mq($until: medium) {
    padding: 0.8rem 1.8rem;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 1px 2px $color-blue-hover;
  }


  &__light {
    background-color: $color-white;
    color: $color-blue;
    border: none;

    &:hover {
      background-color: $color-blue;
      color: $color-white;
    }
  }

  &__dark {
    background-color: $color-black;
    color: $color-white;
    border: none;

    &:hover {
      background-color: $color-blue;

    }
  }

  &__blue {
    background-color: $color-blue;
    color: $color-white;
    border: none;

    &:hover {
      background-color: $color-blue-hover;
    }

    &--fluid {
      display: block;
      width: 100%;
    }
  }

  &__round {
    border-radius: 9999px;
    border: none;
    color: $color-white;
    text-transform: uppercase;
    font-size: 15px;

    &-light {
      background-color: $color-blue;

      &-inverted {
        background-color: $color-blue-hover;

        &:hover {
          background-color: $color-blue !important;
        }
      }
    }

    &-dark {
      background-color: $color-black;
    }

    &:hover {
      background-color: $color-blue-hover;
    }
  }
}