@import "../../sass/essentials";

.why-us-section {
  margin-top: 6rem !important;
  padding: 9rem 0 !important;
  background-color: $color-gray-light;

  @include mq($until: large) {
    margin-top: 3rem !important;
    text-align: center;
    padding: 4rem 0 !important;
  }

  @include mq($until: medium) {
    padding: 3rem 0 !important;
  }

  &__left {
    padding: 0 1rem;

    &__desc {
      max-width: 400px;
      font-size: 1.05rem;
      line-height: 1.9rem;

      @include mq($until: large) {
        max-width: 100%;
      }
    }
  }

  &__right {
    @include mq($until: large) {
      // margin-top: -6rem;
      padding: 4rem;
    }

    @include mq($until: medium) {
      // margin-top: -4rem;
      padding: 2rem;
    }
  }
}