@import "../../sass/essentials";

.hero-section {
  margin-top: 14rem !important;

  @include mq($until: large) {
    margin-top: 10rem !important;
  }

  &__content {
    font-size: 1.05rem;
    font-weight: 400;
    line-height: 2rem;
    color: $color-black;
    padding: 0;

    /*  @include mq($until: xlarge) {
      padding: 0 1rem;
    } */

    @include mq($until: large) {
      text-align: center;
      /*  padding: 0; */
    }

    p,
    h2 {
      max-width: 500px;

      @include mq($until: large) {
        max-width: 100%;
      }
    }


    &-buttons {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      @include mq($until: large) {
        justify-content: space-evenly;
      }

      button:first-child {
        margin-right: 2rem;

        @include mq($until: large) {
          margin-right: 0;
        }
      }
    }
  }

  &__image {
    width: 100%;
  }
}