@import "../../sass/essentials";

.main-title {
  color: $color-blue;
  text-transform: capitalize;
  font-size: 2.25rem;
  line-height: 2.25rem;
  font-weight: 800;
  margin: 0 auto;

  span {
    color: $color-black;
  }
}