@import "../../sass/essentials";

.subscription-section {
  margin-top: 7rem !important;

  @include mq($until: large) {
    margin-top: 3rem !important;
  }

  &__top {
    text-align: center;
    margin-bottom: 4rem;

    &-desc {
      max-width: 800px;
      margin: 1rem auto;
    }
  }

  &__left {
    background-image: linear-gradient(180deg, rgba(0, 171, 200, 1) 0%, rgba(0, 95, 114, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem 5rem 1rem 0rem;
    color: $color-white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    @include mq($until: large) {
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0px;
      padding: 2rem;
    }

    h3 {
      font-size: 1.5rem;
      margin-bottom: 3rem;
    }

    &-items {
      padding-left: 0;
      list-style: none;

      li {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        span {
          margin-right: 1rem;
        }
      }
    }
  }

  &__right {
    border-radius: 0.6rem;
    box-shadow: 0px 15px 55px -30px rgba(0, 0, 0, .35);

    @include mq($until: large) {
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0.6rem;
      border-bottom-right-radius: 0.6rem;

    }

    &-title {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #CDDCF4;
      border-top-left-radius: 0.6rem;
      border-top-right-radius: 0.6rem;

      //margin-top: -11rem;
      @include mq($until: large) {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
      }


      h3 {
        font-weight: 500;
        font-size: 1rem;
        margin: 0;
        padding: 1.5rem 0;
      }
    }

    .MuiGrid-container {
      height: 100%;

    }

    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 1.9rem 0;

      @include mq($until: large) {
        justify-content: space-evenly;
      }

      @include mq($until: small) {
        flex-direction: column;
      }

      &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
          font-size: 2.25rem;
          color: #B3B3B3;

          span {
            color: $color-blue-hover;
          }
        }

        ul {
          padding-left: 0;
          list-style: none;

          li {
            margin-bottom: 1rem;
            display: flex;
            align-items: center;

            span {
              margin-right: 1rem;
              color: $color-blue;
            }
          }
        }

        & a button {
          margin: 0.5rem 0;
        }
      }
    }

    p {
      text-align: center;
      width: 100%;
      margin-top: 0;
    }
  }
}