@import "../../sass/essentials";

.header-sticky {
  height: 70px !important;

  .hamburger {
    top: 10px;
  }
}

.header-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-image: $primary-gradient;
  overflow: hidden;
  height: 100px;
  transition: all 0.5s ease;
  z-index: 2;

  .header-menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .header-menu {
      display: flex;
      align-items: center;
      transition: all 0.5s ease;
      padding: 1.4rem 1rem;
      color: white;
      font-weight: 700;
      position: relative;

      //transition: all 0.5s linear;
      @include mq($until: large) {
        padding: 1.4rem 0;
      }

      &__logo {
        min-width: 200px;

        @include mq($from: medium, $until: large) {
          margin-left: -2rem;
        }

        a {
          width: 100%;

          div {
            width: 100%;

            img {
              width: 100%;
              margin-bottom: 0;
            }

          }
        }
      }

      &__list {
        display: flex;
        margin: 0;
        line-height: 1rem;

        @include mq($until: large) {
          padding-left: 0;
        }

        a {
          margin-left: 2rem;
          text-decoration: none;
          list-style: none;
          letter-spacing: 0.2px;
          color: inherit;
          transition: all 0.3s ease;

          @include mq($from: medium, $until: large) {
            margin-left: 2rem;
          }

          &:hover {
            color: $color-blue-hover;
          }

          &-item {
            margin-bottom: 0;


            &:first-child {
              margin-left: 0;
            }
          }
        }
      }
    }
  }

  .user-info {
    margin-left: 1rem;

    @include mq($until: large) {
      margin-left: 0;
      display: flex;
      flex-direction: column-reverse;
      text-align: center;
    }

    &__name {
      text-transform: capitalize;
      color: #000;

      @include mq($until: large) {
        line-height: 1.8rem;
      }
    }

    &__logout {
      transition: all 0.3s ease;
      cursor: pointer;
      padding: 0;
      margin-left: 1rem;
      background: transparent;
      border: none;
      color: inherit;
      font-size: inherit;
      font-weight: inherit;

      @include mq($until: large) {
        margin-left: 0;
        margin-bottom: 2rem;
      }

      &:hover {
        color: $color-blue-hover;
      }
    }
  }

  .hamburger {
    display: none;

    /* Hamburger Line */
    div {
      position: relative;
      flex: none;
      width: 100%;
      height: 2px;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.4s ease;

      /* Hamburger Lines - Top & Bottom */
      &::before,
      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: #fff;
      }

      /* Moves Line Down */
      &::after {
        top: 10px;
      }
    }
  }
}

@media (max-width: 767px) {
  .header-bg {
    height: 100px;

    .header-menu-wrapper {


      //transition: all 0.4s ease;
      .header-menu {
        position: fixed;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        transform: translateX(-150vw);
        flex-direction: column;
        top: 0;
        left: 0;
        height: 100vh;
        background-image: $primary-gradient;
        width: 200px;


        &__list {
          flex-direction: column;
          height: auto;
          justify-content: space-evenly;
          align-items: center;
          padding: 4rem 2rem 2rem 2rem;

          a {
            font-size: 1.2rem;
            margin-left: 0;
            margin-bottom: 2rem;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      .open {
        transform: translateX(0);
        padding: 0;
      }

    }
  }




  .hamburger {
    border: none;
    position: absolute;
    top: 18px;
    right: 8px;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: transparent;
    display: flex !important;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;

    &:focus {
      outline: none;
    }

    &.open>div {
      transform: rotate(135deg);

      &::before,
      &::after {
        top: 0;
        transform: rotate(90deg);
      }
    }

    &.open:hover>div {
      transform: rotate(225deg);
    }
  }
}