@import "../../sass/essentials";

.deck-section {
  margin-top: 4rem !important;
  text-align: center;

  &__title {
    display: flex;
    justify-content: center;
    flex-direction: column;

    h2 {
      max-width: 800px;
      margin: 2rem auto 0;
    }
  }

  p {
    max-width: 700px;
    font-size: 1.05rem;
    line-height: 1.9rem;
    margin: 2rem auto;

  }

  &__img {
    max-width: 540px;
    margin: 2rem auto;
  }
}