@import "../../sass/essentials";

.alert {
    position: absolute;
    bottom: 34%;
    padding: 4px 0;
    border: none;

    @include mq($until: small) {
        bottom: 30%;
    }


    &__btn {
        border: none;
        border-radius: 0.25rem;
        height: fit-content;
        background-color: $color-blue;
        color: $color-white;
        margin-right: 12px;
        margin-left: 1px;
        cursor: pointer;
    }

    &__content-success {
        color: rgb(31, 214, 31);
    }

    &__content-danger {
        color: red;
    }
}