@import "../../sass/essentials";

.register-wrapper {
    position: relative;

    &__loading {
        position: absolute;
        bottom: 27%;
        left: 48%;
    }

    .alert {
        bottom: 27%;
    }
}