@import "../../sass/essentials";

.footer {
  padding: 2rem 0 10rem;

  @include mq($until: small) {
    padding: 1rem 0 5rem;
  }

  hr {
    max-width: 50%;
    margin: 0 auto;
    height: 2px;
    background-color: rgba(0, 95, 114, 1);
    border: none;

    @include mq($until: small) {
      background-color: rgb(2, 124, 148);
    }
  }

  p {
    text-align: center;
    color: white;
    margin: 1.5rem 0 0;

    @include mq($until: small) {
      margin: 1rem 0;
    }
  }
}