@import "../../sass/essentials";

.icons {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 0;

    @include mq($until: small) {
        margin: 0;
    }

    li {
        margin-right: 2rem;
        font-size: 2.5rem;
        line-height: 2.5rem;

        &:last-child {
            margin-right: 0;
        }

        a {

            svg {

                path {

                    transition: all 0.3s ease;
                    fill: white;

                }

            }

            &:hover {
                svg path {
                    fill: $color-blue;
                }
            }
        }
    }
}

.icons-header {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 0;


    @media screen and (max-width: 767px) {
        padding: 0 2rem;
    }

    @media screen and (min-width: 767px) and (max-width: 960px) {
        margin-right: -5rem !important;
        padding-left: 1rem;
    }

    li {
        margin-right: 1rem;
        font-size: 1.5rem;
        line-height: 1.5rem;


        &:last-child {
            margin-right: 0;
        }

        a {

            svg {

                path {

                    transition: all 0.3s ease;
                    fill: white;

                }

            }

            &:hover {
                svg path {
                    fill: $color-blue-hover
                }
            }
        }
    }
}