@import "../../sass/essentials";

.benefits-section {
  margin-top: 6rem !important;

  @include mq($until: large) {
    margin-top: 3rem !important;
  }

  &__top {
    text-align: center;

    &-desc {
      max-width: 500px;
      font-size: 1.05rem;
      line-height: 1.9rem;
      margin: 1rem auto 4rem;

      @include mq($until: large) {
        margin: 1rem auto 1rem;
      }
    }
  }

  &__cards {
    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;

      @include mq($until: large) {
        padding: 1.5rem 1.5em 0;
      }

      p {
        max-width: 300px;
      }

      h3 {
        @include mq($until: large) {
          margin-bottom: 0;
        }
      }

      &-logo {
        .MuiSvgIcon-root {
          font-size: 4rem;
          color: $color-blue-hover;
        }
      }
    }
  }

  &__button {
    text-align: center;
    margin-top: 1rem;
  }
}